<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= head.meta.title %></title>
	<meta name="title" content="<%= head.meta.title %>">
	<meta name="description" content="<%= head.meta.description %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="index, follow">
	<meta name="language" content="English">
	<meta name="revisit-after" content="10 days">
	<meta name="author" content="bouncytorch">
	<!-- Technical -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- Links and Styles -->
	<link rel="icon" type="image/x-icon" href="<%= head.assets %>/favicon.ico">
	<link rel="stylesheet" href="<%= head.assets %>/styles/master.css">
	<% head.styles.forEach(stl => { %>
		<link rel="stylesheet" href="<%= stl %>">
	<% }) %>
	<% head.scripts.forEach(src => { %>
		<script src="<%= src %>" crossorigin="anonymous"></script>
	<% }) %>
</head>
<body>
	<%- include(`${content}`, variables) %>
	<script>
		let lastTouchTime = 0;
		
		document.addEventListener('touchstart', function() {
			document.body.classList.remove('hover');
			lastTouchTime = new Date();
		}, true);

		document.addEventListener('mousemove', function() {
			if (new Date() - lastTouchTime < 500) return;
			document.body.classList.add('hover');
		}, true);

		document.body.classList.add('hover');
	</script>
</body>
</html>